body {/*displays the background*/
    background-color: rgb(75, 151, 128);
    font-size: 1.0em;
}

h1 {
     /* displays the UTA Space program */ 
    color: rgb(209, 15, 25);
}
#intro {
    /*displays the intro font size*/
    font-size:  1.0em;
    color: rgb(141, 5, 5);
}
.colorful {
    color: rgb(49, 55, 66);
}
p {
    /*aligns the text*/
    text-align:left;
    color: rgb(8, 8, 2);
}
table {
    border-collapse: collapse;
    width: 50%; /*adjust the width of the table rows*/
}

th {
	border-style:groove;
	padding:15px;
    width: 50%; /*adjust the width of the table rows*/
}
td{
	border-style: solid;
	padding:5px;
        
}

tr {
    height: 20px; /* set the height of the rows */
}

tr:hover {
    background-color: #f5f5f5;
}


