body {/*displays the background*/
    background-color: rgb(185, 71, 19);
    font-size: 1.0em;
}

h1 {
     /* displays the UTA Space program */ 
    color: rgb(41, 59, 221);
}
#intro {
    /*displays the intro font size*/
    font-size:  1.0em;
    color: blue;
}
.colorful {
    color: green;
}
p {
    /*aligns the text*/
    text-align:left;
    color: yellow;
}